* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 15%;
    
}


/* premiere div -------------------------------------------------------------------------------------------------------*/

.connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    height: 40vh;
    gap: 1rem;
    padding: 2rem;

}


input {
    border-radius: 10px;
    padding: 1rem;
    width: 25rem;
}

button {
    width: 10rem;
    padding: 0.7rem 1rem;
    border-radius: 30px;
}

p {
    text-align: center;
}

.checkbox input {
    width: 2rem;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
}


/* seconde div -------------------------------------------------------------------------------------------------------*/

.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    height: 40vh;
    padding: 2rem;
    border: solid;
    width: 20vw;
}

.titre section:nth-child(1){
    display: flex;
    border: solid;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
align-items: center;
justify-content: center;
}