* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

background: linear-gradient(90deg, rgba(37, 99, 235, 1) 0%, rgba(29, 78, 216, 1) 35%);
}

.carte-standard {
    display: flex;
    margin-top: 17rem;
    max-width: 50rem;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 15px 1px   rgb(23, 0, 173);
    border-radius: 15px;
}


/* premiere div -------------------------------------------------------------------------------------------------------*/


h1 {
    text-align: center;
}

.connexion h1{
    color: rgba(29, 78, 216, 1);
}

a{
    color: rgba(29, 78, 216, 1);
    text-decoration: none;
}

.connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    width: 60%;
    gap: 1rem;
    padding: 2rem;
    background: white;

}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


input {
    border-radius: 10px;
    padding: 1rem;
    max-width: 25rem;
    width: 100%;
    border: solid 1px;
}

input:focus{
    outline: none;
    border: solid 1px rgba(29, 78, 216, 1);
}

button {
    max-width: 10rem;
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    background: rgba(29, 78, 216, 1);
    color: white;
    border: none;
}

p {
    text-align: center;
}

.checkbox input {
    max-width: 2rem;
    width: 100%;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
}


/* seconde div -------------------------------------------------------------------------------------------------------*/

.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 45%;
    padding: 2rem;
    border-radius: 0 15px 15px 0;
    max-width: 21rem;
    background: linear-gradient(90deg, rgba(37, 99, 235, 1) 0%, rgba(29, 78, 216, 1) 35%);
    color: white;
}

.titre section:nth-child(1) {
    display: flex;
    border: solid;
    max-width: 6rem;
    width: 100%;
    max-height: 6rem;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.titre section:nth-child(2){
display: flex;
flex-direction: column;
gap: 1rem;
}