header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


nav {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

nav button {
    border: none;
    background: none;
}

nav i {
    font-size: 1.5rem;
    padding: 0.5rem;
}

nav a i {
    color: black;
}

.gauche {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.droite {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-right: 2rem;
}

.droite i {
    color: var(--Secondary);
}

.droite span {
    position: absolute;
    background: var(--Danger);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    font-size: 0.5rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15.3rem;
    top: 1.8rem;
    color: white;

}

nav .profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}



/************************************************************************************************* HEADER **********************************************************************************************************/

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5rem;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    column-gap: 1rem;
    background: var(--Background);
}

.entete {
    grid-column: span 4;
}

.bilan {
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
    background: white;
}

.bilan i {
    font-size: 1.5rem;
}

.bilan span {
    display: flex;
    border-radius: 20%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    color: white;
}

.premier span {
    background: var(--Primary);
}

.second span {
    background: var(--Série3);
}

.troisieme span {
    background: var(--Série2);
}

.fin span {
    background: var(--Secondary);
}

caption {
    text-align: start;
    background: white;
    padding: 2rem;
    border-radius: 20px 20px 0 0;
}

caption .head input {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 0.7px;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}


.buttons {
    display: flex;
    width: 20rem;
    gap: 1rem;
}

.buttons button {
    padding: 0.5rem 1rem;
    background: white;
    border: solid 0.7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.buttons button:nth-child(1) {
    grid-column: span 4;
    background: var(--Primary);
    color: white;
}

table {
    grid-column: span 4;
    background: white;
    line-height: 3rem;
    border-collapse: collapse;
}

table tbody i{
    color: var(--Secondary);
}


thead {
    background: rgb(221, 221, 221);
}

tbody tr{
    border-bottom: solid 0.5px black;
}

tbody tr:nth-last-child{
    border: none;
}

th {
    text-align: start;
    font-weight: 500;
}

td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td:nth-child(2) span {
    background: #f3f2f2;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.bleu {
    background: #bdd3f8;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: var(--Série1);
}

.vert {
    background: #d6fdf0;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: var(--Série2);
}

.orange {
    background: #ffe1ac;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: var(--Série3);
}

.violet {
    background: #e3d8fb;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: var(--Série5);
}

.rose {
    background: #f5d3d3;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: var(--Série4);
}

td:nth-child(7) span {
    display: flex;
    text-align: center;
    gap: 1rem;
}





/*************************************************** main **********************************************/

aside {
    position: fixed;
    top: 0;
    left: -100%;
    /* elle commence cachée à gauche */
    z-index: 9999;
    background: var(--Primary-Dark);
    color: white;
    height: 100vh;
    max-width: 30rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    transition: left 0.4s ease;
    /* animation fluide */
}

/* Quand elle est ciblée par le lien */
#menu:target {
    left: 0;

}

/* Overlay */
.overlay {
    display: none;
}

/* Quand la sidebar est ouverte */
#menu:target~.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4500;
    cursor: pointer;
}



aside header {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-row: span 1;
    border-bottom: solid 1px white;
    padding: 0 1rem;
}

aside header i {
    font-size: 2rem;
}

ul {
    grid-row: span 5;
    border-bottom: solid 1px white;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    display: flex;
    gap: 1rem;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: span 3;
    gap: 1rem;
    align-items: center;
}

.admin {
    display: flex;
    align-items: center;
    border: solid;
    max-width: 20rem;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 1rem;
}

.admin span{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--Primary);
}

.admin span i{
    font-size: 1.5rem;
}

.profil1 {
    display: flex;
    align-items: center;
    border: solid;
    max-width: 20rem;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 1rem;
}

.logout {
    display: flex;
    align-self: center;
    border: solid;
    border-color: #ef4444;
    background: #ff6f6f68;
    max-width: 20rem;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 1rem;
}


@media (max-width: 768px){

    header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.entete {
    grid-column: span 2;
}

    main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.buttons button:nth-child(1) {
    grid-column: span 2;
}

table {
    grid-column: span 2;
    line-height: 2rem;
}
    
}