header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

nav {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

nav button {
    border: none;
    background: none;
}

nav i {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.gauche {
    display: flex;
    align-items: center;
}

.droite {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.droite span {
    position: absolute;
    background: var(--Danger);
    padding: 0.2rem;
    border-radius: 30%;
}

nav .profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}

.profil p {
    background: var(--Secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 50%;
}


/************************************************************************************************* HEADER **********************************************************************************************************/

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    column-gap: 1rem;
    background: var(--Background);
}

.entete {
    grid-column: span 2;
}

.bilan {
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
    background: white;
}

.bilan i {
    font-size: 1.5rem;
}

.bilan span {
    display: flex;
    border-radius: 20%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    color: white;
}

.premier span {
    background: var(--Primary);
}

.second span {
    background: var(--Série3);
}

.troisieme span {
    background: var(--Série2);
}

.fin span {
    background: var(--Secondary);
}

section:nth-child(6) {
    grid-column: span 2;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 20px 20px 0 0;
}

section:nth-child(6) .head input {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 0.7px;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 20rem;
    gap: 1rem;
}

.buttons button {
    padding: 0.5rem 1rem;
    background: white;
    border: solid 0.7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.buttons button:nth-child(1) {
    grid-column: span 2;
    background: var(--Primary);
    color: white;
}

table {
    grid-column: span 2;
    background: white;
}



/*************************************************** main **********************************************/

aside {
    position: absolute;
    z-index: 9999;
    background: var(--Primary-Dark);
    color: white;
    height: 100%;
    max-width: 30rem;
    width: 100%;
    top: 0%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

aside header {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-row: span 1;
    border-bottom: solid 1px white;
    padding: 0 1rem;
}

aside header i {
    font-size: 2rem;
}

ul {
    grid-row: span 5;
    border-bottom: solid 1px white;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    display: flex;
    gap: 1rem;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: span 3;
gap: 1rem;
    align-items: center;
}

.admin {
    display: flex;
    align-items: center;
    border: solid;
    max-width: 20rem;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 1rem;
}

.profil1{
    display: flex;
    align-items: center;
    border: solid;
    max-width: 20rem;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 1rem;
}

.logout{
    display: flex;
    align-self: center;
    border: solid;
    max-width: 20rem;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 1rem;
}